* {
    box-sizing: border-box;
    margin:0;
}

html {
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url('img/bg.png');
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

main {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 2%;
}

#gameMessage {
    position: absolute; /* Absolute Positionierung relativ zum Viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Exakte Zentrierung */
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.gameCanvas {
    display: grid;
    padding: 1.5rem 0.5rem 2rem 2.7rem;
}

#hpContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    margin: 100px 0;
}

#playerHP {
    border: 1px solid;
    margin-top: 10px;
    height: 170px;
    padding: 20px;
}

#enemyHP {
    border: 1px solid; 
    margin-bottom: 15px;
    height: 170px;
    padding: 20px;
}