* {
    box-sizing: border-box;
    margin:0;
}

html {
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url('img/bg.png');
    background-repeat: repeat;
}

main {
    display: flex;
    align-content: center;
    justify-content: center;
}

.gameCanvas {
    display: grid;
}

#gameMessage {
    position: absolute; /* Absolute Positionierung relativ zum Viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Exakte Zentrierung */
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}